/* Jeopardy font: ITC Korinna */
body {
         font-family: Korinna, sans-serif;
         background-color: #CCA349;
     }

#jboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}


.jboard_col {
    width: 15%;
}

.jboard_header {
    height: 50px;
    background-color: blue;
    border: solid 2px black;
    margin-bottom: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jboard_header p {
    font-size: 15px;
    font-weight: bolder;
}

.clue_box {
    background-color: blue;
    border: solid 2px black;
    color: #CCA349;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clue_box p {
    font-size: 20px;
    font-weight: bolder;
}

#score_box {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: blue;
    border: solid 2px black;
    color: black;
}

.player_scores {
    height: 70%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    background-color: white;
    border: solid 1px black;
}

button {
	margin-top: 20px;
	width: 150px; /* set width of buttons */
	height: 50px; /* set height of buttons */
}

.buttons-container {
	display: flex; /* flex container */
}

