/* Jeopardy font: ITC Korinna */
body {
	font-family: Korinna, sans-serif;
	background-color: #CCA349;
	display: flex;
	justify-content: center; /* Horizontally center the content */
}

button {
    margin-top: 20px; /* Adjust the top margin of buttons */
    margin-right: 20px; /* Adjust the right margin of buttons */
}


