/* Homepage/About stylesheet */


body {
	font-family: Korinna, sans-serif;
	background-color: #CCA349;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.text-box {
	border: 2px solid #000;
	padding: 20px;
}

img {
    width: 50%; /* make the image 20% smaller */
	height: auto; /* maintain aspect ratio */
}

button {
	margin-top: 20px;
	width: 150px; /* set width of buttons */
	height: 50px; /* set height of buttons */
}

.buttons-container {
	display: flex; /* flex container */
}

button:first-child {
	margin-right: 20px; /* add margin between buttons */
}

#player-name {
	height: 30px;
}

#submit-name-button {
	height: 30px; 
}



