<!--homepage - links to 'About' and 'Let's Play' -->

<!DOCTYPE html>
<html>
<head>
	<!-- css stylesheet link -->
	<link rel="stylesheet" href="css/prefix.css">
	<!-- javascript source file -->
    <script src="static/js/jeopardy.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
</head>
<body>
	<h1>How to Play</h1>
	<p>This is the about page with information about how to play the game.</p>
	<button id="home-button" onclick="redirectToHomePage()">Home</button>
	<button id="play-button" onclick="redirectToPlayPage()">Play</button>
</body>
</html>



