<!--homepage - links to 'About' and 'Let's Play' -->

<!DOCTYPE html>
<html>
<head>
	<!-- css stylesheet link -->
	<link rel="stylesheet" href="static/css/prefix.css">
	<!-- javascript source file -->
    <script src="static/js/jeopardy.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
</head>
<body>
	<h1>About JeoparDIY</h1>
	<p>JeoparDIY is dedicated to offering an endless supply of Jeopardy content for both die-hard fans and casual players. Our platform aims to continuously evolve, incorporating new episodes and categories to provide a comprehensive tool for entertainment and learning. Our product serves as a dynamic resource for fans and a training tool for aspiring contestants, ensuring the Jeopardy spirit thrives in every game.<br><br> To get started, click the "Play" button below. After entering your name, the game begins! Select a clue from the gameboard and type in a correct answer to win "prize money." The game concludes after all of the clue boxes are selected. <br><br>Now go conquer those categories!</p>
	<div class="buttons-container">
		<button id="home-button" onclick="redirectToHomePage()">Home</button>
		<button id="play-button" onclick="redirectToPlayPage()">Play</button>
	</div>
</body>
</html>



