<!-- Gameplay Initialization Page, Input Players, Choose Categories -->

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/css/gameplay.css">
	<!-- javascript source file -->
    <!-- <script src="static/js/jeopardy.js"></script> -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create-JeoparDIY</title>
	<!-- css stylesheet link -->
</head>
<body>
	<h1>JeoparDIY</h1>
    <div id="jboard">
        <div class="jboard_col" id="jboard_c1">
            <div class="jboard_header" id="header_1">
                <p id="categ_1">Category 1</p>
            </div>
            <div class="jboard_body" id="cat_1">
                <div class="clue_box" id="cat_1_200">
                    <p>$200</p>
                </div>
                <div class="clue_box" id="cat_1_400">
                    <p>$400</p>
                </div>
                <div class="clue_box" id="cat_1_600">
                    <p>$600</p>
                </div>
                <div class="clue_box" id="cat_1_800">
                    <p>$800</p>
                </div>
                <div class="clue_box" id="cat_1_1000">
                    <p>$1000</p>
                </div>
            </div>
        </div>
        <div class="jboard_col" id="jboard_c2">
            <div class="jboard_header" id="header_2">
                <p id="categ_2">Category 2</p>
            </div>
            <div class="jboard_body" id="cat_2">
                <div class="clue_box" id="cat_2_200">
                    <p>$200</p>
                </div>
                <div class="clue_box" id="cat_2_400">
                    <p>$400</p>
                </div>
                <div class="clue_box" id="cat_2_600">
                    <p>$600</p>
                </div>
                <div class="clue_box" id="cat_2_800">
                    <p>$800</p>
                </div>
                <div class="clue_box" id="cat_2_1000">
                    <p>$1000</p>
                </div>
            </div>
        </div>
        <div class="jboard_col" id="jboard_c3">
            <div class="jboard_header" id="header_3">
                <p id="categ_3">Category 3</p>
            </div>
            <div class="jboard_body" id="cat_3">
                <div class="clue_box" id="cat_3_200">
                    <p>$200</p>
                </div>
                <div class="clue_box" id="cat_3_400">
                    <p>$400</p>
                </div>
                <div class="clue_box" id="cat_3_600">
                    <p>$600</p>
                </div>
                <div class="clue_box" id="cat_3_800">
                    <p>$800</p>
                </div>
                <div class="clue_box" id="cat_3_1000">
                    <p>$1000</p>
                </div>
            </div>
        </div>
        <div class="jboard_col" id="jboard_c4">
            <div class="jboard_header" id="header_4">
                <p id="categ_4">Category 4</p>
            </div>
            <div class="jboard_body" id="cat_4">
                <div class="clue_box" id="cat_4_200">
                    <p>$200</p>
                </div>
                <div class="clue_box" id="cat_4_400">
                    <p>$400</p>
                </div>
                <div class="clue_box" id="cat_4_600">
                    <p>$600</p>
                </div>
                <div class="clue_box" id="cat_4_800">
                    <p>$800</p>
                </div>
                <div class="clue_box" id="cat_4_1000">
                    <p>$1000</p>
                </div>
            </div>
        </div>
        <div class="jboard_col" id="jboard_c5">
            <div class="jboard_header" id="header_5">
                <p id="categ_5">Category 5</p>
            </div>
            <div class="jboard_body" id="cat_5">
                <div class="clue_box" id="cat_5_200">
                    <p>$200</p>
                </div>
                <div class="clue_box" id="cat_5_400">
                    <p>$400</p>
                </div>
                <div class="clue_box" id="cat_5_600">
                    <p>$600</p>
                </div>
                <div class="clue_box" id="cat_5_800">
                    <p>$800</p>
                </div>
                <div class="clue_box" id="cat_5_1000">
                    <p>$1000</p>
                </div>
            </div>
        </div>
        <div class="jboard_col" id="jboard_c6">
            <div class="jboard_header" id="header_6">
                <p id="categ_6">Category 6</p>
            </div>
            <div class="jboard_body" id="cat_6">
                <div class="clue_box" id="cat_6_200">
                    <p>$200</p>
                </div>
                <div class="clue_box" id="cat_6_400">
                    <p>$400</p>
                </div>
                <div class="clue_box" id="cat_6_600">
                    <p>$600</p>
                </div>
                <div class="clue_box" id="cat_6_800">
                    <p>$800</p>
                </div>
                <div class="clue_box" id="cat_6_1000">
                    <p>$1000</p>
                </div>
            </div>
        </div>
    </div>
	<div id="score_box">
		<!-- Display the player name retrieved from localStorage -->
		<div class="player_score" id="p1_score">
			<p><strong id="player-name"></strong>: $500</p>
		</div>
	</div>

	<script>
		// retrieve the player name from localStorage
		var playerName = localStorage.getItem('playerName');
        
		// display the player name on the page
		document.getElementById('player-name').textContent = playerName;
    </script>
</body>
</html>