<!--homepage - links to 'About' and 'Let's Play' -->

<!DOCTYPE html>
<html>
<head>
	<!-- css stylesheet link -->
	<link rel="stylesheet" href="static/css/prefix.css">
	<!-- javascript source file -->
    <script src="static/js/jeopardy.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Homepage</title>
</head>
<body>
	<h1>Welcome to JeoparDIY!</h1>
	<img src="static/images/qmark.png" alt="qmark">
	<button id="about-button" onclick="redirectToAboutPage()">About</button>
	<button id="play-button" onclick="redirectToPlayPage()">Play</button>
</body>
</html>


