<!--homepage - links to 'About' and 'Let's Play' -->

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/prefix.css">
	<!-- javascript source file -->
    <script src="static/js/jeopardy.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Homepage</title>
	<!-- css stylesheet link -->
</head>
<body>
	<h1>Welcome to JeoparDIY!</h1>
	<button id="about-button" class="button">About</button>
	<button id="play-button" class="button">Play</button>
</body>
</html>