<!-- Player name entries and category selection -->

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Enter Player Names</title>
	<!-- css stylesheet link -->
	<link rel="stylesheet" href="static/css/prefix.css">
</head>
<body>
	<h2>Player Names</h2>
	<div id="player-names">
	<!-- Player name slots will be added dynamically here -->
	</div>
	<button id="random-button" class="button">Random</button>

	<h2>Categories</h2>
	<div id="categories">
	<!-- Random categories will be displayed here -->
	</div>

	<script src="static/js/jeopardy.js"></script> <!-- Link to JavaScript file -->
</body>
</html>
